body {
  margin: 0;
}

body, html {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

*,::after,::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #9c1aff 0%, rgb(119, 0, 255) 100%);
  position: relative;
  height: 100vh;
}

.touchbar {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  background: #071d2a;
  border-radius: 1rem;
  cursor: pointer;
  transition: width .2s linear, height .2s linear;
  z-index: 100000;
}

.touchbar__title {
  text-align: center;
  color: white;
}


.touchbar__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.touchbar_radius1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #efefef;
}

.touchbar_radius2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #efefef;
}

.touchbar__grid {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  opacity: 0;
  transition: opacity .25s linear;
}

.touchbar__grid.opacity {
  opacity: 1;
}

.touchbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: auto;
  font-size: 30px;
}

.touchbar__item button {
  background: transparent;
    color: white;
    border: 0;
    outline: none;
    font-size: 1.8rem;
}

@media(max-width: 768px){
  .touchbar__title {
    display: none;
  }

  .touchbar {
    display: flex;
  }
}